.gameboard {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 400px));
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    /* border: 2px solid #000; */
    margin: 30px;
}
