.memorycard {
    border: 1px solid #000;
    background: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.memorycard:hover {
    background: #fafafa;
}

.memorycard:hover span{
    animation: rotation 1s infinite ease-in-out forwards;
}

.memorycard span {
    font-size: 100px;
    line-height: 0.2;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}
