body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 110px 90px 1fr;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #ffa;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    color: #ffa;
    padding-bottom: 10px;
}

p::first-letter,
h2::first-letter {
    text-transform: uppercase;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: top 1s ease;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

.modal.modal-hidden {
    top: -200%;
    height: 0;
}

.modal-msg {
    border: 10px solid #000;
    padding: 20px;
    background: #fff;
    /* left: 50%; */
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* transform: translateX(-50%); */
    /* z-index: 10; */
}

.button-play-again {
    padding: 20px ;
    font-size: 20px;
    font-weight: 600;
    border: 5px solid #000;
}
